RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^favicon\.ico$ favicon/favicon.ico [L]
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L,E=RULE:2]
Header set X-Rewrite-Rule "2" env=RULE
