body {
    background-color: rgb(27, 38, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: rgb(15, 76, 117);
}

.form-control:focus {
    box-shadow: none;
    border-color: rgb(50, 130, 184);
}

.btn-primary {
    background-color: rgb(15, 76, 117);
    border: none;
}

.btn-primary:hover {
    background-color: rgb(50, 130, 184);
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

@media (max-width: 768px) {
    .login-card {
        margin-top: 50px;
    }
}

#togglePassword {
    cursor: pointer;
}
